<p style="color: green"><%= notice %></p>

<%= render @rock %>

<div>
  <%= link_to "Edit this rock", edit_rock_path(@rock) %> |
  <%= link_to "Back to rocks", rocks_path %>

  <%= button_to "Destroy this rock", @rock, method: :delete %>
</div>
